<p>Tareas Hernan Medina.</p>
<h2>Tarea 4 En equipo con Ruth Celiceo</h2>
<pre>
  1. Implement the merge sort algorithm On-Prem with an integer array of 1,000,000
elements. 20 points.

var array =[];

for(var i = 0; i &lt 1000000; i++){
    array.push(Math.round(Math.random() * 1000));
}

console.log("The initial array is: " + array);
var sortedArray = mergeSort(array);
console.log("The sorted array is: " + sortedArray);

function mergeSort(arr){
    if(arr.length &lt 2){
        return arr;
    }

    var middle = Math.floor(arr.length / 2);
    var left = arr.slice(0, middle);
    var right = arr.slice(middle, arr.length);

    return merge(mergeSort(left), mergeSort(right));
}

function merge(left, right){
    var resultArray = [];
    var indxLft = 0;
    var indxRght = 0;

    while(indxLft &lt left.length && indxRght &lt right.length){
        if(left[0] &lt= right[0]){
            resultArray.push(left.shift());
        }
        else{
            resultArray.push(right.shift());
        }
    }

    while(left.length){
        resultArray.push(left.shift());
    }
    while(right.length){
        resultArray.push(right.shift());
    }

    return resultArray;
}

2. Benchmark the On-Prem implementation. 10 points.
  Implementation with 1,000,000 numbers = 6 minutes 42 seconds

3. Implement the merge sort algorithm with an integer array of 1,000,000 in a parallel
approach using micro-services architecture in AWS. 60 points.

Creamos un API Geatway llamado HRMergeSort, en donde tenemos dos lambdas llamadas HRMerge y HRDivide.

event.json de HRMerge

  {
  "left":[],
  "right":[]
}
HRMerge

  'use strict';

module.exports.handler = function(event, context, cb) {
  function merge(){
    var resultArray = [];
    var indxLft = 0;
    var indxRght = 0;
    //var left2 = event[0];
    //var right2 = event[1];

    while(indxLft &lt event.left.length && indxRght &lt event.right.length){
      if(event.left[0] &lt= event.right[0]){
        resultArray.push(event.left.shift());
      }
      else{
        resultArray.push(event.right.shift());
      }
    }

    while(event.left.length){
      resultArray.push(event.left.shift());
    }
    while(event.right.length){
      resultArray.push(event.right.shift());
    }

    context.succeed(resultArray);
  }
};

HRDivide

  'use strict';

module.exports.handler = function(event, context, cb) {
  var array =[];
  var AWS = require('aws-sdk');
  var lambda = new AWS.Lambda({
    region: 'us-east-1'
  });

  for(var i = 0; i &lt 10; i++){
    array.push(Math.round(Math.random() * 1000));
  }

  console.log("The initial array is: " + array);
  var sortedArray = mergeSort(array);


  function mergeSort(arr){
    if(arr.length &lt 2){
      return arr;
    }

    var middle = Math.floor(arr.length / 2);
    var left = arr.slice(0, middle);
    var right = arr.slice(middle, arr.length);

    var params ={
      FunctionName: 'HRMergeSort-HRMerge',
      InvokeArgs: JSON.stringify(left, right)
    };

    lambda.invokeAsync(params, function(err, data){
      if(err){
        console.log(err, err.stack);
      }
      else{
        context.succeed(data.InvokeArgs);
        console.log("The sorted array is: " + data.InvokeArgs);
      }
    })
  }
};
En la documentacion de AWS leimos que hay dos formas de hacer el invoke, ya sea lambda.invoke o lambda.invokeAsync. Quisimos utilizar el primero, pero nos marca que lambda.function no es una funcion, y al utilizar lambda.invokeAsync nos regresa "undefined", pero regresa como status 202, esto quiere decir que si funciona, de acuerdo a la documentacion de AWS.



4. Benchmark the AWS implementation. 10 points.
  Aunque no regrese el array en orden, sale este mensaje: 1946126 byte payload is too large for the Event invocation type (limit 131072 bytes)

Pero haciendolo con un arreglo de 10, el tiempo es: 2108.65 ms

100: 5729.52 ms

1000: 1005.24 ms


</pre>
<h2>Tarea 3</h2>
<pre>
  1. Create a NodeJS script that will do the following:
• Download and Image from S3.
• Check if the metadata key “Move” of the image is true.
• If true, upload the image to s3://cc116-assignment3/{MATRICULA}/ image.png • 20 points.

	En S3Helper
	/**
 * Created by hernan on 9/3/16.
 */
var AWS = require("aws-sdk");
var s3 = new AWS.S3();
var fs = require("fs");
module.exports.saveInS3 = function(bucket, key, content, callback){
  var params = {
    Bucket: bucket,
    Key: key,
    Body: content,
    ACL: "public-read",
    Metadata: {Move: "true"}
  };
  s3.upload(params, function(error, data){
    if(error){
      callback(error);
    }
    else{
      callback(null, data);
      console.log('almost there');
    }
  });
};
module.exports.readFromS3 = function(bucket, key, callback){
  var params = {
    Bucket: bucket,
    Key: key
  };
  s3.getObject(params, function(error, data){
    if(error){
      callback(error);
    }
    else {
      callback(null, data);
    }
  });
};
module.exports.downloadPhoto = function(bucket, key, stream){
  var params = {
    Bucket: bucket,
    Key: key
  };
  var file = fs.createWriteStream(stream);
  s3.getObject(params).createReadStream().pipe(file);
};



En el archivo principal

var fs = require('fs'),
  request = require('request');
var async = require("async");
var s3Helper = require("./S3Helper");
var async = require("async");
function getPic() {
s3Helper.readFromS3('mexicoder656', 'beach.jpg' , function(error, data){
  if (error) {
    console.log(error);
  }
  else {
    if(data.Metadata.move == 'true'){
    console.log('yes');
      s3Helper.downloadPhoto('mexicoder656', 'beach.jpg', 'beach.jpg')
      var pic = fs.createReadStream('beach.jpg');
      s3Helper.saveInS3('cc116-assignment','beach.jpg', pic, function (error,data) {
        if (error) {
          callback(error);
        }
        else {
          console.log('MEGAYES');
          callback(data);
        }
      });
    }else{
      console.log('no')
    }
  }
  });
}
getPic();


Hecho con la ayuda de Ruth Celiceo :)

2. Create a NodeJS script that will do the following:
• Will get the Nasa Astronomic Picture of the day.
• Save the image in the local file system.
• Print the title of the image. • 20 points.
Este tambien fue hecho con ayuda de Ruth

function spacePic() {
  var url = "https://api.nasa.gov/planetary/apod?api_key=e9scqzaAGOPJWs8PCcoH1jNlT9ShmElqw9LV4BqU";
  var writeStr = fs.createWriteStream('pic.jpg');
  var params = {
    url: url,
    json: 'true'
  };
  request(params, function(err, opt, callback){
    if(err){
      console.log(err);
    }
    else{
      request(callback.url).pipe(writeStr);
      console.log(callback.title);
      console.log(callback.date);
      console.log(callback.url);
    }
  });
}


3. Implement Google Analytics in your personal web site (All teams will do the same for their Final Project). 20 points.
  creas tu cuenta de Google analytics, se pone este script en la pagina a la cual quieres hacerle track y pones el codigo de tu pagina en 'create', UA-...
	script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83604667-1', 'auto');
      ga('send', 'pageview');

	script>

4. Read and explain the following article by Martin Fowler: http://martinfowler.com/ articles/richardsonMaturityModel.html. 20 points

El articulo habla de los diferentes niveles de REST y como se clasifican.
  El nivel 0 puede cer considerado el nivel de consultas basicas, donde solo se obtiene la informacion requerida sin muchos detalles de la misma.
  En el nivel 1 igual se pueden hacer peticiones basicas a un servidor pero este te trae mas detalles y mejro performance.
  El nivel 2 trae los verbos de HTTP tales como el GET, POST, PUT que se pueden utilizar para distintas tareas en web.
  El nivel 3 ayuda a los desarrolladores o clientes seguir el proceso del codigo para asi ir descubriendo los procesos que hace el programa en si.

5. Explain why cloud computing is important. 10 points.

	Cloud computing te permite automatizar y facilitar distintas tareas que no quieres ejecutar en tu 	computadora o si no quieres tener tus servidores propios te da una alternativa mas barata y 	sencilla. Otro punto importante de cloud computing es que te facilita la utilización de 	microservices para mejorar el funcionamiento de tu programa.

6. Explain what would like to change in this class and why. 10 points.

	Coding... to... fast...
	Bueno, no es tanto un problema para mi pero hay veces que si me toma un rato para entender que es lo que está pasando pero con el hecho de preguntar todo se soluciona, asi que todo bien
</pre>
